<div class="footer container-fluid">
  <div class="row footerContent">
    <div class="col-lg-3 col-md-6 col-xs-12 section">
      <div class="information-section">
        <div class="footerLogo">
          <h2>LOGO</h2>
        </div>
        <div class="footerAbout">
          <p>Bootstraps dropdowns, on the other hand, are designed to be generic and applicable to a variety
            of
            situations and markup structures. For instance, it is possible to create dropdowns that contain
            additional inputs and form controls, such as search fields or login forms.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 section">
      <div class="shopByCategory-section">
        <ul class="shopByCategoryList">
          <h6>Shop by Category</h6>

          <li>Dairy</li>


          <li>Poultry</li>


          <li>Sea Food</li>


          <li>Vegetables</li>


          <li>Fresh Fruits</li>


          <li>Flowers</li>

        </ul>
      </div>
    </div>
    <div class="col-lg-2 col-md-6 col-xs-12 section">
      <div class="quickLinks-section">
        <ul class="quickLinksList">
          <h6>Quick Links</h6>

          <li>Explore Farms</li>


          <li>Home</li>


          <li>About Us</li>


          <li>FAQs</li>


          <li>Sell with Us</li>


          <li>Privacy Policy</li>


          <li>Terms & Conditions</li>

        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="loginLinks-section">
        <ul class="loginLinksList">
          <li>
            <a>
              Login to your account
            </a>
          </li>

          <li>
            <a>
              Register with Us
            </a>
          </li>

        </ul>
        <div>

        </div>
        <div class="appDownloadLinks justify-content-center">

          <img src="/assets/footerImage/googlePlay.png" alt="Play Store">
          <img src="/assets/footerImage/appStore.png" alt="Apple App Store">

        </div>
        <div class="socialLinksList text-center">
          <div class="socialLoginIconList">
            <ul class="row text-center justify-content-center">
              <li class="col-12">
                <h6>Follow Us</h6>
              </li>
              <li class="col-1">
                <div class="socialIcons">
                  <i class="bi bi-facebook"></i>
                </div>
              </li>


              <li class="col-1">
                <div class="socialIcons">
                  <i class="bi bi-instagram"></i>
                </div>
              </li>


              <li class="col-1">
                <div class="socialIcons">
                  <i class="bi bi-twitter"></i>
                </div>
              </li>


              <li class="col-1">
                <div class="socialIcons">
                  <i class="bi bi-envelope"></i>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row copyrights">
    <div class="text-center">
      <h6>Copyright 2020. All Rights Reserved.</h6>
    </div>
  </div>
</div>